todo
  h2 todo
  ul
    li(each="{ list }" onclick="{ say }") { name }
  a(href="#another") another

  script(type="es6").
    this.list = [{
      name: 'fnobi'
    },{
      name: 'kayac'
    },{
      name: 'hoge'
    },{
      name: 'moge'
    }];
    
    this.say = function (e) {
      alert(e.item.name);
    };
    
  style(type="text/scoped-css").
    :scope {
      padding: 1em;
    }
  
    :scope h2 {
      font-weight: bold;
      margin-bottom: 0.5em;
    }    