todo
  h2 todo
  ul
    li(each="{ list }" onclick="{ say }")
      input(type="checkbox" onchange="{ checkList }")
      a(href="#todo/{ id }") { name }

  button(onclick="{ addList }") add

  script(type="es6").
    const reduceList = (id) => {
        const newList = [];
        this.list.forEach((item) => {
            if (item.id != id) {
                newList.push(item);
            }
        });
        this.list = newList;
        todoList.saveList(newList);
    };
  
    this.list = todoList.getList();
    
    this.addList = () => {
      todoList.add(prompt('タスクの名前を入れましょう'));
      this.list = todoList.getList();
    };
    
    this.checkList = (e) => {
      reduceList(e.item.id);
    };
    
    
  style(type="text/scoped-css").
    :scope {
      padding: 1em;
    }
  
    :scope h2 {
      font-weight: bold;
      margin-bottom: 0.5em;
    }