extends /layout/_default-layout

prepend config-block
  - page_name = ''

//- append stylesheet-block

//- append javascript-block

block content-block
  .hero
    - var row = 1
    while row <= 4
      - var col = 1
      while col <= 6
        .hero__item(data-row=row data-col=col)
        - col++
      - row++
    .hero__title hello world!
