extends layout/DefaultLayout

prepend ConfigBlock
  - page_name = ''

//- append StylesheetBlock

block ContentBlock
  header(riot-tag="gheader")
  main

append JavascriptBlock
  script.
    // gheader
    riot.mount('gheader');

    // main
    riot.route(function (tagName) {
      console.log(tagName);
    });

    riot.route('', function () {
      console.log('route to todo');
      riot.mount('main', 'todo');
    });
    
    riot.route('another', function () {
      console.log('route to another');
      riot.mount('main', 'another');
    });
    
    riot.route.start(true);