extends layout/DefaultLayout

prepend ConfigBlock
  - page_name = ''

//- append StylesheetBlock

block ContentBlock
  .header
    h1 riot demo
  content

append JavascriptBlock
  script.
    riot.route(function (tagName) {
      riot.mount('content', tagName || 'todo');
    });
    
    riot.route.start(true);