// reset css
@import 'node_modules/reset.css/reset.css';

// config
@import 'variable', 'function', 'mixin', 'keyframes';

// modules
@import 'module/*';

body {
    $colorA: #f88;
    $colorB: #ff8;
    background: linear-gradient(90deg, $colorA, $colorA 50%, $colorB 50%, $colorB);
    background-size: 50px 50px;
}